/*
Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

*/

$primary1: hsl(263, 55%, 52%);  //Moderate violet
$primary2:hsl(217, 19%, 35%);   //Very dark grayish blue
$primary3:hsl(219, 29%, 14%);   //Very dark blackish blue

$neutral1:hsl(0, 0%, 81%);  //Light gray
$neutral2:hsl(210, 46%, 95%);   //Light grayish blue
$neutral3: hsla(0, 0%, 81%, 0.5);

$dFontFamily: 'Barlow Semi Condensed', sans-serif; //500, 600
$dFontSize: 0.8125rem; //13px

%defaultFont {
    font-family: $dFontFamily;
}

@mixin fontSettings($size: $dFontSize, $weight:500, $color: $neutral1){
    @extend %defaultFont;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $neutral2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase {
    margin: 5%;

    display: grid;
    gap: 30px;
}

.card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 20px 30px 10px rgba(128, 128, 128, 0.199);

    display: grid;
    grid-template-columns: 40px;
    grid-template-rows: 15px 15px;

    &:nth-child(1) {
        background-color: $primary1;
        background-image: url("./images/bg-pattern-quotation.svg");
        background-position: right 10% top;
        background-repeat: no-repeat;
    }

    &:nth-child(2) {
        background-color: $primary2;
    }

    &:nth-child(3), &:nth-child(5) {
        background-color: white;
        .name, blockquote > em {color: hsl(217, 19%, 35%);}
        span, blockquote {color: hsla(217, 19%, 35%, .5);}
    }

    &:nth-child(4) {
        background-color: $primary3;
    }

    img{
        border: 2px solid hsla(0, 0%, 100%, 0.2);
        border-radius: 100%;
        width: 30px;

        grid-row: 1/3;
    }

    .name {
        @include fontSettings;
    }
    span {
        @include fontSettings(0.625rem, 600, $neutral3);

    }

    blockquote{
        margin: 20px 0px 0px 0px;
        @include fontSettings($color: $neutral3);

        grid-row: 3/4;
        grid-column: 1/3;

        em {
            color: $neutral1;
            font-style: normal;
            font-size: 1.270rem;
        }

        br {
            line-height: 20px;
        }
    }
}

@media screen and (min-width: 970px) {
    #showcase {
        max-width: 1100px;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card {
        &:nth-child(1) {
            grid-area: 1/1/2/3;
        }
        &:nth-child(2) {
            grid-area: 1/3/2/4;
        }
        &:nth-child(3) {
            grid-area: 2/1/3/2;
        }
        &:nth-child(4) {
            grid-area: 2/2/3/4;
        }
        &:nth-child(5) {
            grid-area: 1/4/3/5;
        }
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }